<div class="bg-green-200 px-64 py-24 mt-12">
    <h2 class="text-4xl font-bold">
        HISTORIE
    </h2>
    <p class="mt-12 text-xl">
            Kaffebutler AS har vært en solid leverandør av kaffeløsninger til <br />
            bedriftsmarkedet i Telemark. Norengros Erik Tanche Nilssen AS <br />
            har fra september 2019 overtatt denne virksomheten. Vi kan nå <br />
            tilby kaffemaskiner med hele bønner til både nye og eksisterende <br />
            kunder. Norengros ETN AS er en komplett leverandør av kaffemaskiner, <br />
            ingredienser og service til bedriftsmarkedet i Telemark. Kaffebutler <br />
            er vårt konsept for kaffe- og drikkeløsninger
    </p>
    <img src="/public/img/coffee-cup-hot.svg"/>
</div>