
<div class="flex px-64 bg-green-200 h-64 mt-12 py-24 ">
    <h2 class="font-bold text-3xl">{{ kaffekonsept_title }}</h2>
    
    <div class="text-gray-700 text-center text-xxl">
        <h3 class="font-bold">{{ kaffeogdrikkelosninger_title }}</h3>
        <p class=""> {{ losninger_text }}</p>
    </div>
    <div class="text-gray-700 text-center ml-24 text-xxl">
        <h3 class="font-bold">{{ kaffemaskiner_title }}</h3>
        <p></p>
    </div>
    <div class="flex-1 text-gray-700 ml-24 text-xxl">
        <h3 class="font-bold">{{ service_title }}</h3>
        <p></p>
    </div>
</div>